*,
*::before,
*::after {
  box-sizing: border-box;
}

blockquote,
figure,
body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul[class],
ol[class] {
  list-style: none;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button {
  font: inherit;
}

a {
  display: inline-block;
  color: var(--clr-neutral-100);
  text-decoration: none;
}

body {
  font-family: var(--ff-primary);
  font-size: var(--fs-400);
  font-weight: var(--fw-400);
  line-height: 1.6;
  background-color: var(--clr-primary-400);
  color: var(--clr-neutral-100);
  text-align: center;
}

:root {
  --ff-primary: "Open Sans", sans-serif;
  --ff-accent: "Raleway", sans-serif;
  --clr-primary-200: hsl(219, 30%, 18%);
  --clr-primary-300: hsl(217, 28%, 15%);
  --clr-primary-400: hsl(218, 28%, 13%);
  --clr-primary-500: hsl(216, 53%, 9%);
  --clr-accent-300: hsl(176, 68%, 64%);
  --clr-accent-400: hsl(198, 60%, 50%);
  --clr-accent-500: hsl(0, 100%, 63%);
  --clr-neutral-100: hsl(0, 0%, 100%);
  --fs-300: 0.7rem;
  --fs-400: 0.875rem;
  --fs-500: 1.15rem;
  --fs-700: 1.5rem;
  --fw-400: 400;
  --fw-700: 700;
  --cta-gradient: linear-gradient(
    to right,
    var(--clr-accent-300),
    var(--clr-accent-400)
  );
  --radius: 7px;
}

h1,
h2,
h3,
.page-title,
.page-subtitle,
.primary-nav,
.btn,
.btn-accent {
  font-family: var(--ff-accent);
  font-weight: var(--fw-700);
}

.page-title {
  font-size: var(--fs-700);
}

.page-subtitle {
  font-size: var(--fs-500);
}

.primary-nav,
.btn,
.btn-accent {
  font-weight: var(--fw-400);
}

.btn {
  display: inline-block;
  padding: 1.2em 6em;
  cursor: pointer;
  border: none;
  border-radius: 3rem;
  color: var(--clr-neutral-100);
  font-weight: var(--fw-700);
  background: var(--cta-gradient);
}
.btn:hover, .btn:focus {
  background: var(--clr-accent-300);
}

.btn-accent {
  font-size: 0.75rem;
  color: var(--clr-accent-300);
  padding-bottom: 0.4em;
  border-bottom: 2px solid var(--clr-accent-300);
}
.btn-accent svg {
  display: inline-block;
  margin-left: 0.5em;
  vertical-align: middle;
}
.btn-accent:hover use, .btn-accent:focus use {
  fill: var(--clr-neutral-100);
}
.btn-accent:hover, .btn-accent:focus {
  color: var(--clr-neutral-100);
  border-color: currentColor;
}

.cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 6em;
}

.about-card img {
  margin-left: auto;
  margin-right: auto;
}

.footer-nav .info {
  display: flex;
  align-items: start;
}
.footer-nav .info > * + * {
  margin-left: 1.5em;
}

.footer-socials {
  display: flex;
  justify-content: center;
}
.footer-socials > * + * {
  margin-left: 1em;
}
.footer-socials a {
  height: 2rem;
  width: 2rem;
  border: 1px solid var(--clr-neutral-100);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cta {
  padding: 2em;
  border-radius: var(--radius);
  background-color: var(--clr-primary-300);
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.2);
  transform: translateY(11rem);
}

.sign-up {
  display: flex;
  flex-direction: column;
}
.sign-up input {
  padding: 1.2em 2em;
  border-radius: 3rem;
  border: none;
}
.sign-up input::placeholder {
  opacity: 0.3;
}

.primary-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.primary-nav img {
  height: 2rem;
}
.primary-nav ul {
  display: flex;
}
.primary-nav ul > * + * {
  margin-left: 1.5em;
}

.reviews {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 3em;
  position: relative;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.reviews > * {
  grid-column: 1/-1;
  background-color: var(--clr-primary-200);
  padding: 2em;
  border-radius: var(--radius);
}
.reviews:first-child::before {
  content: "";
  position: absolute;
  background-image: url("/images/bg-quotes.png");
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  top: -2.5em;
  left: 0.5em;
  z-index: -1;
}

.review-card {
  box-shadow: 15px 4px 1px 0px var(--clr-primary-400);
}
.review-card .reviewer {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}
.review-card .info {
  display: flex;
  align-items: center;
}
.review-card .info > :first-child {
  margin-right: 1em;
}
.review-card .name {
  font-size: var(--fs-300);
  font-weight: var(--fw-700);
}
.review-card .job-title {
  font-size: var(--fs-300);
}

section {
  padding: 3rem 0;
}

.primary-header {
  padding: 1.5rem;
  background-color: var(--clr-primary-300);
}

.hero {
  --flow-spacer: 2em;
  background-color: var(--clr-primary-300);
  background-image: url("/images/bg-curvy-mobile.svg");
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
}

.testimonials {
  padding: 3rem 0 0 0;
}

.primary-footer {
  background-color: var(--clr-primary-500);
  padding: 16rem 0 3rem 0;
}

.container {
  margin: 0 auto;
  padding: 0 2em;
}

.container--small {
  max-width: 31.25rem;
}

.container--medium {
  max-width: 50rem;
}

.container--large {
  max-width: 76rem;
}

.text-left {
  text-align: left;
}

.flow-content > * + * {
  margin-top: var(--flow-spacer, 1.2em);
}

.split {
  display: flex;
  flex-direction: column;
}

.split > * + * {
  margin: var(--flow-split, 3em) 0 0 0;
}

.split > * {
  flex-basis: 100%;
}

/*# sourceMappingURL=style.css.map */
