.btn {
  display: inline-block;
  padding: 1.2em 6em;
  cursor: pointer;
  border: none;
  border-radius: 3rem;
  color: var(--clr-neutral-100);
  font-weight: var(--fw-700);
  background: var(--cta-gradient);
  //   transition: background 750ms ease-in-out;

  &:hover,
  &:focus {
    background: var(--clr-accent-300);
  }
}
